.header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: inherit;

        transition: 200ms;
    }

    & > a {
        font-size: 2rem;

        &:hover {
            color: #ead2ff;
        }
    }
}

.ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    li:nth-last-child(2) {
        margin-left: 20px;
        position: relative;

        &::before {
            --gradient-center: rgb(73, 43, 105);

            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 40px;
            left: -20px;
            top: calc(50% - 20px);

            background: linear-gradient(0deg, rgba(29,23,36,1) 0%, var(--gradient-center) 33%, var(--gradient-center) 66%, rgba(29,23,36,1) 100%);
        }
    }
}

.link {
    padding: 6px 12px;

    border-radius: 4px;

    &:hover {
        background-color: rgba(61, 45, 78, 0.5);
        backdrop-filter: blur(4px);
    }
}

.signup {
    padding: 10px 20px;

    display: block;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        text-decoration: none;
        background-color: rgb(94, 19, 169, .5);
    }
}