.form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &[disabled] {
        display: none;
    }
}

.password-validations {
    display: flex;
    flex-direction: column;
    gap: 8px;
}